.navbar-brand{
    padding: 7px;
    cursor: pointer;
    color: green;
    margin-bottom: 0;
}

.nav-button{
    margin-right: 10px;
}

.navbar {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
}
/* li{
    display: flex;
    flex-direction: row;
} */
a{
    display: inline;
}